<body>
  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>
  <p>Puppy Age: <%= @puppy.months_old%> months</p>
  <form>
  <a href="/puppy" type="hidden"><input type="submit" name="home" value="Return Home"></a>
</body>
